@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap');
@import "tailwindcss";

:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  --Blue-900-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Blue-950-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Grey-950-Light-Mode-Text: hsl(200, 15%, 8%);
  --Grey-400-Light-Mode-Input: hsl(0, 0%, 50%);
  --Grey-50-Light-Mode-Background: hsl(0, 0%, 99%);
  --White-Dark-Mode: hsl(0, 100%, 100%);
  --Light-Mode-Elements: hsl(0, 100%, 100%); /* add this for light mode header background */
  --Dark-Mode-Text: hsl(0, 100%, 100%); /* add this for light mode header background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --Grey-50-Light-Mode-Background: hsl(207, 26%, 17%);
  --Grey-950-Light-Mode-Text: hsl(0, 100%, 100%);
  --Grey-400-Light-Mode-Input: hsl(0, 0%, 50%);
  --Light-Mode-Elements: hsl(209, 23%, 22%); /* header background in dark mode */
}
